
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.side-nav {
    background-color: rgb(54, 54, 54);
}

.side-nav a {
  color: rgb(241, 241, 241);
  font-size: 13px;
}

.mat-divider {
    border-top-color: rgb(148, 148, 148);
}

.newness-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(15, 139, 255);
    // Push dot to the right side and keep it aligned with all accounts
    margin-left: auto;
    margin-right: 6px;
}

.bottom-info a{
    color: rgb(189, 189, 189);
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}