<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit cumque dicta suscipit voluptatem libero at voluptate,
    earum ipsam? Nulla obcaecati minus soluta, sit itaque tempora optio temporibus, quibusdam labore eaque quod ullam
    fugit, id suscipit unde ipsam consequuntur expedita neque sint earum cupiditate quas ea. Quia provident voluptatem
    enim reprehenderit.</p>