<section>
    <h2>Recommended</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-2">
                <a mat-list-item routerLink=''>
                    <img class="" src="../../assets/img/thumbnails/colibri.jpg" alt="colibri" style="width:300px;">
                    <h2>How colibres were born</h2>
                </a>
                <a href="">Content Creator</a>
                <p>2milj. views · 2 years ago</p>
            </div>
            <div class="col-md-3">
                <h1>first video</h1>
            </div>
            <div class="col-md-3">
                <h1>first video</h1>
            </div>
            <div class="col-md-3">
                <h1>first video</h1>
            </div>
            <div class="col-md-3">
                <h1>first video</h1>
            </div>
        </div>
    </div>
</section>